// Styles written by Jacob Bearce @ https://jacob.rocks/

/* ------------------------------------------------------------------------ *\
 * Title
\* ------------------------------------------------------------------------ */

.title {
    & {
        color: var(--foreground-base);
        font-display: swap;
        font-family: $heading-font;
        font-size: remify(48, 16);
        font-weight: 700;
        line-height: remify(57.6, 48);
        margin: remify(0 0 10);
    }
}

.title--h2 {
    & {
        font-size: remify(32, 16);
    }
}

.title--h3 {
    & {
        font-size: remify(24, 16);
    }
}

.title--h4 {
    & {
        font-size: remify(20, 16);
    }
}

.title--h5 {
    & {
        font-size: remify(18, 16);
        font-weight: 600;
    }
}

.title--h6 {
    & {
        font-size: remify(16, 16);
        font-weight: 600;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}
